<!-- rendering shop card from the partial shop_card -->
<%= render "shop_card", shop: @shop, users_id: @shop.user %>

<!-- Shop content -->
<div class="all-cards" id="shop-content-card">
    <div id="shop-content-head">
    <h1>About</h1>
    <p id="shop-content"><%= @shop.content %></p>
    <% if params[:user_id].to_i == current_user.id %>
    <%= link_to "edit", edit_user_shop_path(current_user), id: "edit-link" %></div>
    <% end %>
</div>

<% @shop.items.each do |item| %>
<div class="all-cards">
    <h1><%= item.name %></h1>

    <% if item.item_picture.attached? %>
      <% image_tag (item.item_picture), width:900, height: 400, id: "shop-picture" %>
    <% else %>
      <div id="shop-image-placeholder" ><H1>Placeholder</H1></div>
    <% end %>

    <p><%= item.hook %></p>

</div>
<% end %>
