<!-- for wrapper div for styling -->
<div id="edit-form-card" class="all-cards">

        <!-- initialising the rails form helper to render the html form -->
        <%= form_with model: user_profile, local: true do |edit_user| %>
        
        <div class="form-field">
        <!-- The name field label and text input field -->
        <%= edit_user.label :name, "Username" %><br>
        <%= edit_user.text_field :name %>
        </div>
        
        <div class="form-field">
        <!-- The content field label and text area input -->
        <%= edit_user.label :content, "A few sentences about yourself !!" %><br>
        <%= edit_user.text_area :content%>
        </div>
      
        <div class="form-field"></div>
        <!-- file attachment field for uploading the profile image. :profile_image is
        referenced as attached in the model -->
        <%= edit_user.file_field :profile_image, id: "file-upload" %>
        </div>
        
        <div class="form-field">
          <!-- The form submit button -->
          <%= edit_user.submit "Edit", class: "head-button" %>
        </div>
      
        <% end %>
      
      </div>