<!-- rendering the profile card and passing in the user profile model -->
<%= render "profile_card", model: @model %>

<!-- Links card probly to small to warrant a partial -->
<div class="all-cards" id="profile-links">
  <%= link_to "Go Shopping", root_path %>
  <% if current_user.shop %>
    <%= link_to "View/Edit Shop", user_shop_path(current_user, current_user.shop) %>
  <% elsif current_user.has_role? :shop_owner %>
  <%= link_to "Create shop", new_user_shop_path(current_user.user_profile.id)  %>
  <% else %>
  <div data-turbolinks="false"><%= link_to "Become a shop owner", user_shop_owners_path(current_user) %></div>
  <% end %>
</div>


<% if User.admin_check(current_user) %>
<div class="all-cards" id="profile-links">
  <%= link_to "Admin Dashboard", users_path %>
</div>
<% end %>

<% if current_user.shop %>
  <div class="all-cards" id="profile-links">
    <%= link_to "Delete your shop", user_shop_path(current_user.id, current_user.shop.id), method: "delete", style: "color:red;"  %>
  </div>
<% end %>


<div class="all-cards" id="profile-links">
  <%= link_to "Delete account", user_registration_path, method: "delete", style: "color:red;" %>
</div>




