<div class="all-cards">
        <h1>Cart</h1>

    <table class="minimalistBlack">
        <thead>
            <td>Item</td>
            <td>Price</td>
            <td>Qty</td>
            <td>Total</td>
            <td>Edit</td>
        </thead>
        <% @user.cart.cart_items.each do |cart_item| %>
            <tbody>
                <tr>
                    <td><%= cart_item.item %></td>
                    <td>$<%= sprintf('%.2f', cart_item.price) %></td>
                    <td>
                            <%= form_with model: @cart_item, method: "patch", url: cart_item_path(current_user.id, current_user.cart.id, cart_item.id), local: true do |f| %>
                            <%= f.number_field(:quantity, in: 1..10, step: 1, value: cart_item.quantity)%> 
                            <%= f.submit "+/-", class: "head-button", style: "font-weight:bolder;" %>
                            <% end %>
                    </td>
                    <td>$<%= p sprintf('%.2f', CartItem.item_total((cart_item.quantity).to_d, (cart_item.price).to_d)) %></td>
                    <td><%= link_to "Del", user_cart_items_path(current_user.id, @user.cart.id, cart_item.id), method: "delete", style: "color:red;" %> </td>
                </tr>
            </tbody>
        <% end %>
        
        <tfoot>
          <tr>
              <td></td>
              <td></td>
              <td></td>
              <td  id="cart-total">Total</td>
              <td  id="cart-total">$<%= @user.cart.cart_total(@user.id)%></td>
              
          </tr>
        </tfoot>
      
    </table>
</div>
