<!DOCTYPE html>
<html>
  <head>
    <title>All The Things</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Rakkas&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>

      <nav class="nav-bar" id="top">
        <% if current_page?(root_path) %>
          <div class="nav-link", id="all-the-things"><%= link_to "All the things", root_path, style:"color:white;" %></div>
        <% else %>
          <div class="nav-link"><%= link_to "Home", root_path, style: "color:white" %></div>
        <% end %>
        <% if user_signed_in? %>
          <div class="nav-link" ><%= link_to "Dashboard", user_profile_path(current_user), style: "color:white"  %></div>
        <% end %>
      </nav>      

      <!-- Devise Flash Messages -->
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %> 

      <!-- This is the main head picture and signin/up and logout buttons displayed on all pages-->
      <div id="fixed-head" class="all-cards">

              <!-- Logic to only display the signup/in if there is no session -->
          <% if ! user_signed_in? %>

            <!-- Sign up button -->
            <button class="head-button">
              <%= link_to "Join Us!", new_user_registration_path %>
            </button>

              <!-- Login Button -->
            <button class="head-button">
              <%= link_to "Login", new_user_session_path %>
            </button>
          <% end %>
            
          <!-- Logout button -->
          <% if user_signed_in? %>
          <button class="head-button" >
            <%= link_to "Logout", destroy_user_session_path, method: "delete" %>
          </button>
          <% end %>

      </div>

    </header>
   
      <!-- fixed bottom nav -->
      <% if user_signed_in? %>
        <nav class="nav-bar" id="bottom-nav">
            <div><%= link_to "Cart(#{cart_item_quant})", user_cart_path(current_user), style: "color:white;" %></div>
            <div><%= link_to "Top", "#top", style: "color:white;", id: "bottom-top" %></div>
        </nav>
      <% end %>
    <div id= "whole-body-wrapper">
      <%= yield %>  
    
    </div>
  </body>
</html>
